@media (max-width: 700px) {
    .aboutMe { 
        flex-direction: column;
    }

    .aboutMe .text {
        max-width: 400px;
    }

    .whyUs ul {
        flex-direction: column;
    }

    .whyUs ul li:not(:first-child) {
        margin-left: -50px;
        margin-top: 50px;
    }

    .whyUs ul li {
        margin-left: -50px;
    }
}